In [1]:
# !pip install -r requirements.txt

## 1. Database Schema and Configuration

In [1]:
import os
import google.generativeai as genai
from setup_db import execute_query
from config import GOOGLE_API_KEY, DATABASE_SCHEMA,COT_TEXT2SQL_EXAMPLE, LANGCHAIN_API_KEY

import re
from langchain_google_genai import ChatGoogleGenerativeAI
from langgraph.graph import StateGraph, END
from langgraph.prebuilt import ToolExecutor
from langchain.tools import Tool
from langchain.schema import HumanMessage
from typing import TypedDict, Annotated, Sequence, Union
from typing import List, Tuple, Dict, Any

from langchain_google_genai import ChatGoogleGenerativeAI
from langchain.schema import SystemMessage, HumanMessage


genai.configure(api_key=GOOGLE_API_KEY)

os.environ["LANGCHAIN_API_KEY"] = LANGCHAIN_API_KEY
os.environ["LANGCHAIN_TRACING_V2"] = "true"
os.environ["LANGCHAIN_PROJECT"] = "text2sql"
os.environ["LANGCHAIN_ENDPOINT"] = "https://api.smith.langchain.com"

## 2. Core Text-to-SQL Functions

In [3]:
# Load LLMs
llm_sql_generator = ChatGoogleGenerativeAI(model="gemini-2.0-flash-lite-preview-02-05")
llm_sql_validator = ChatGoogleGenerativeAI(model="gemini-2.0-flash-lite-preview-02-05")
llm_agent = ChatGoogleGenerativeAI(model="gemini-2.0-flash-lite-preview-02-05")

# Extract SQL from the model response
def extract_sql(text):
    match = re.search(r"```sql\s*(.*?)\s*```", text, re.DOTALL)
    return match.group(1) if match else text

# Tool 1: Generate SQL Query
def generate_sql(natural_language_query, DATABASE_SCHEMA=DATABASE_SCHEMA,COT_TEXT2SQL_EXAMPLE=COT_TEXT2SQL_EXAMPLE):
    """Agent to generate SQL from a natural language question."""
    prompt = f"""
    Database Schema:
    {DATABASE_SCHEMA}

    **************************
    Answer Repeating the question and evidence, and generating the SQL with a query plan.
    
    <---(Example)--->
    {COT_TEXT2SQL_EXAMPLE}
    
    Only return the SQL query without ``` backticks, no other text. 
    Ensure the table alias is correctly assigned
    
    ---------------------------------
    Question: {natural_language_query}

    SQL Query: 
    """
    response = llm_sql_generator.invoke([HumanMessage(content=prompt)])
    return extract_sql(response.content)

# Tool 2: Validate and Fix SQL Query for PostgreSQL
def validate_and_fix_sql(sql_query):
    """Agent to validate and correct SQL syntax for PostgreSQL."""
    prompt = f"""
    The following SQL query might have syntax issues. Your task is to analyze it and correct any mistakes 
    so that it works properly in **PostgreSQL**.

    Incorrect SQL:
    {sql_query}

    Return only the corrected SQL query without any explanations or ``` backticks.
    
    Make sure to use "ILIKE" instead of "=" for case insensitive matching. If not asked to be case sensitive

    Corrected SQL Query:
    """
    response = llm_sql_validator.invoke([HumanMessage(content=prompt)])
    return extract_sql(response.content)

# Define state type
class AgentState(TypedDict):
    input: str
    sql_query: str
    final_query: str

# Define nodes with updated configuration
def generate_sql_node(state: AgentState) -> AgentState:
    """Generate initial SQL query"""
    try:
        sql_query = generate_sql(
            natural_language_query=state["input"],
            DATABASE_SCHEMA=DATABASE_SCHEMA,
            COT_TEXT2SQL_EXAMPLE=COT_TEXT2SQL_EXAMPLE
        )
        state["sql_query"] = sql_query
        return state
    except Exception as e:
        print(f"Error in generate_sql_node: {str(e)}")
        raise

def validate_sql_node(state: AgentState) -> AgentState:
    """Validate and fix SQL query"""
    try:
        final_query = validate_and_fix_sql(state["sql_query"])
        state["final_query"] = final_query
        return state
    except Exception as e:
        print(f"Error in validate_sql_node: {str(e)}")
        raise

# Create workflow
workflow = StateGraph(AgentState)

# Add nodes
workflow.add_node("generate_sql", generate_sql_node)
workflow.add_node("validate_sql", validate_sql_node)

# Add edges
workflow.add_edge("generate_sql", "validate_sql")
workflow.add_edge("validate_sql", END)

# Set entry point
workflow.set_entry_point("generate_sql")

# Compile
agent_executor = workflow.compile()

# Example usage
def process_query(natural_language_query: str):
    try:
        result = agent_executor.invoke({
            "input": natural_language_query,
            "database_schema": DATABASE_SCHEMA,
            "sql_query": "",
            "final_query": ""
        })
        
        print("\nNatural Language Query:", natural_language_query)
        print("\nGenerated SQL:", result["final_query"])
        
        # Execute the query
        query_results = execute_query(result["final_query"].replace("\n", " "))
        print("\nQuery Results:\n", query_results,"\n\n\n")
        
        return result["final_query"], query_results
        
    except Exception as e:
        print(f"Error processing query: {str(e)}")
        return None, None

# Test the processing
test_query = "Show me the top 5 customers who have rented the most movies"
sql, results = process_query(test_query)

Natural Language Query: Show me the top 5 customers who have rented the most movies

Generated SQL: SELECT c.first_name, c.last_name, COUNT(r.rental_id) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY rental_count DESC
LIMIT 5;

Query Results:
  first_name | last_name | rental_count
------------+-----------+--------------
 ELEANOR    | HUNT      |           46
 KARL       | SEAL      |           45
 MARCIA     | DEAN      |           42
 CLARA      | SHAW      |           42
 TAMMY      | SANDERS   |           41
(5 rows)

## Loading the Evaluation Dataset

In [5]:
import pandas as pd

file_path = r".\Pagila Evals Dataset(Sheet1).csv"

# Read CSV with an alternate encoding
test_queries = pd.read_csv(file_path, encoding="ISO-8859-1")  # or encoding="latin1"
print(test_queries.head())

   Query Number                             Natural Language Query Difficulty
0             1             List all actors' first and last names.       Easy
1             2      Show the titles of all films in the database.       Easy
2             3                       Get the names of all cities.       Easy
3             4           List all categories available for films.       Easy
4             5  Show the first name and last name of all custo...       Easy

In [92]:
test_queries.head()

,Query Number,Natural Language Query,Difficulty,Query,SQL_Generated,Results
0,1,List all actors' first and last names.,Easy,List all actors' first and last names.,"SELECT first_name, last_name FROM actor;",first_name | last_name \n-------------+--...
1,2,Show the titles of all films in the database.,Easy,Show the titles of all films in the database.,SELECT title FROM film;,title \n---------------...
2,3,Get the names of all cities.,Easy,Get the names of all cities.,SELECT city FROM city;,city \n----------------...
3,4,List all categories available for films.,Easy,List all categories available for films.,SELECT name FROM category;,name \n-------------\n Action\n Animat...
4,5,Show the first name and last name of all custo...,Easy,Show the first name and last name of all custo...,"SELECT first_name, last_name FROM customer;",first_name | last_name \n-------------+--...

## Inferencing the agent

In [ ]:
results = []

for index, row in test_queries.iterrows():
    if pd.isna(row["SQL_Generated"]) or (isinstance(row["SQL_Generated"], str) and "(0 rows)" in row["SQL_Generated"]):
        sql, output = process_query(row["Natural Language Query"])
        print(output, "\n\n\n")

        # Update the DataFrame in place
        test_queries.at[index, "SQL_Generated"] = sql
        test_queries.at[index, "Results"] = output

# Save to CSV after updating all rows
test_queries.to_csv("evaluation_results.csv", index=False)

Natural Language Query: Find the films that have been rented more times than the average number of rentals per film.

Generated SQL: SELECT film_id
FROM inventory
GROUP BY film_id
HAVING COUNT(*) > (
    SELECT AVG(rental_count)
    FROM (
        SELECT COUNT(*) AS rental_count
        FROM rental
        JOIN inventory ON rental.inventory_id = inventory.inventory_id
        GROUP BY inventory.film_id
    ) AS film_rental_counts
);

Query Results:
  film_id
---------
(0 rows)





 film_id
---------
(0 rows)






Natural Language Query: For each actor, show their name and the percentage of films they've acted in compared to the total films.

Generated SQL: SELECT
  A.first_name,
  A.last_name,
  CAST(COUNT(FA.film_id) AS REAL) * 100 / (
    SELECT
      COUNT(*)
    FROM film
  ) AS percentage_of_films
FROM actor AS A
JOIN film_actor AS FA
  ON A.actor_id = FA.actor_id
GROUP BY
  A.actor_id,
  A.first_name,
  A.last_name;

Query Results:
  first_name  |  last_name   | percentage_of_films
-------------+--------------+---------------------
 CHRISTIAN   | AKROYD       |                 3.2
 MATTHEW     | JOHANSSON    |                   2
 HUMPHREY    | GARLAND      |                 2.9
 DAN         | STREEP       |                 2.4
 SPENCER     | PECK         |                 2.1
 ADAM        | GRANT        |                 1.8
 RIP         | WINSLET      |                   3
 GARY        | PHOENIX      |                 2.5
 ALBERT      | JOHANSSON    |                 3.3
 RALPH       | CRUZ         |                 2.8
 MICHELLE    | MCCONAUGHEY  |                 2.3
 CARMEN      | HUNT         |                 2.6
 AUDREY      | BAILEY       |                 2.7
 OPRAH       | KILMER       |                 2.5
 ADAM        | HOPPER       |                 2.2
 JAMES       | PITT         |                 3.1
 MENA        | HOPPER       |                 2.4
 JOHN        | SUVARI       |                 2.9
 JON         | CHASE        |                 2.9
 KENNETH     | HOFFMAN      |                 2.9
 KIRSTEN     | AKROYD       |                 3.4
 SUSAN       | DAVIS        |                 3.3
 KENNETH     | PALTROW      |                 2.1
 JEFF        | SILVERSTONE  |                 2.5
 HARRISON    | BALE         |                 2.8
 MORGAN      | MCDORMAND    |                 2.5
 HENRY       | BERRY        |                 3.5
 MEG         | HAWKE        |                 2.7
 RUSSELL     | BACALL       |                 2.5
 WARREN      | NOLTE        |                 3.4
 ELVIS       | MARX         |                 2.6
 FAY         | WOOD         |                 2.2
 DUSTIN      | TAUTOU       |                 2.7
 REESE       | WEST         |                 3.3
 RITA        | REYNOLDS     |                   2
 ANGELA      | HUDSON       |                 3.4
 KEVIN       | GARLAND      |                 3.3
 SCARLETT    | BENING       |                 2.6
 CHRIS       | BRIDGES      |                 2.7
 ALAN        | DREYFUSS     |                 2.7
 RUSSELL     | TEMPLE       |                 3.1
 THORA       | TEMPLE       |                   2
 GARY        | PENN         |                 2.6
 MATTHEW     | LEIGH        |                   3
 NICK        | STALLONE     |                   3
 ZERO        | CAGE         |                 2.5
 TOM         | MIRANDA      |                 2.7
 CUBA        | BIRCH        |                 2.4
 HARVEY      | HOPE         |                 3.2
 LIZA        | BERGMAN      |                 2.5
 RENEE       | TRACY        |                 3.3
 KENNETH     | PESCI        |                   2
 WOODY       | JOLIE        |                 3.1
 ROCK        | DUKAKIS      |                   3
 ALBERT      | NOLTE        |                 3.1
 WARREN      | JACKMAN      |                 3.2
 MORGAN      | HOPKINS      |                 2.7
 JOHNNY      | CAGE         |                 2.9
 MINNIE      | KILMER       |                   2
 KIRK        | JOVOVICH     |                 2.6
 FAY         | WINSLET      |                 3.1
 JOE         | SWANK        |                 2.5
 BELA        | WALKEN       |                   3
 PENELOPE    | MONROE       |                 2.7
 CUBA        | OLIVIER      |                 2.8
 MAE         | HOFFMAN      |                 2.8
 FRANCES     | DAY-LEWIS    |                 2.6
 RIP         | CRAWFORD     |                 3.3
 RENEE       | BALL         |                 3.3
 MINNIE      | ZELLWEGER    |                 3.1
 SEAN        | WILLIAMS     |                 2.6
 DARYL       | WAHLBERG     |                 3.1
 JUDE        | CRUISE       |                   3
 SCARLETT    | DAMON        |                 3.6
 CHRISTIAN   | NEESON       |                 2.5
 BOB         | FAWCETT      |                 2.5
 CHRIS       | DEPP         |                   2
 CARY        | MCCONAUGHEY  |                 2.4
 GROUCHO     | WILLIAMS     |                 2.5
 SANDRA      | PECK         |                 1.9
 KIRSTEN     | PALTROW      |                 2.7
 JANE        | JACKMAN      |                 2.5
 ED          | CHASE        |                 2.2
 MARY        | KEITEL       |                   4
 HELEN       | VOIGHT       |                 3.2
 VAL         | BOLGER       |                 3.5
 WOODY       | HOFFMAN      |                 3.1
 PENELOPE    | CRONYN       |                 3.1
 JOHNNY      | LOLLOBRIGIDA |                 2.9
 OLYMPIA     | PFEIFFER     |                 2.8
 AL          | GARLAND      |                 2.6
 DAN         | HARRIS       |                 2.8
 GEOFFREY    | HESTON       |                 2.6
 CHRISTOPHER | BERRY        |                   2
 MILLA       | KEITEL       |                 2.8
 ED          | GUINESS      |                 2.9
 PENELOPE    | PINKETT      |                 2.5
 ALEC        | WAYNE        |                 2.9
 JENNIFER    | DAVIS        |                 2.2
 LUCILLE     | DEE          |                 2.4
 AUDREY      | OLIVIER      |                 2.5
 MATTHEW     | CARREY       |                 3.9
 GENE        | WILLIS       |                 2.3
 BEN         | WILLIS       |                 3.3
 JESSICA     | BAILEY       |                 2.3
 CAMERON     | WRAY         |                 1.9
 SEAN        | GUINESS      |                 3.3
 CHRISTIAN   | GABLE        |                 2.2
 SIDNEY      | CROWE        |                 3.4
 JUDY        | DEAN         |                 1.5
 MICHAEL     | BENING       |                 2.4
 REESE       | KILMER       |                 3.2
 GINA        | DEGENERES    |                 4.2
 BETTE       | NICHOLSON    |                   2
 GENE        | HOPKINS      |                 2.2
 GREG        | CHAPLIN      |                 2.7
 ANGELA      | WITHERSPOON  |                 3.5
 GOLDIE      | BRODY        |                 2.8
 WILL        | WILSON       |                 3.1
 CHRISTOPHER | WEST         |                 2.1
 ELLEN       | PRESLEY      |                 2.5
 CHARLIZE    | DENCH        |                 2.4
 WILLIAM     | HACKMAN      |                 2.7
 BURT        | DUKAKIS      |                 2.9
 SISSY       | SOBIESKI     |                 1.8
 NATALIE     | HOPKINS      |                 3.2
 WALTER      | TORN         |                 4.1
 LAURENCE    | BULLOCK      |                 2.6
 VIVIEN      | BERGEN       |                   3
 MARY        | TANDY        |                 3.1
 SYLVESTER   | DERN         |                 2.2
 VIVIEN      | BASINGER     |                 3.5
 IAN         | TANDY        |                 3.1
 UMA         | WOOD         |                 3.5
 CUBA        | ALLEN        |                 2.5
 RICHARD     | PENN         |                   3
 JAYNE       | SILVERSTONE  |                 2.7
 CAMERON     | ZELLWEGER    |                 3.3
 NICK        | WAHLBERG     |                 2.5
 FRED        | COSTNER      |                 2.7
 JULIA       | FAWCETT      |                 1.5
 JAYNE       | NEESON       |                 2.9
 JULIANNE    | DENCH        |                 3.2
 BURT        | POSEY        |                 2.4
 CATE        | MCQUEEN      |                   3
 FRANCES     | TOMEI        |                 2.3
 MERYL       | ALLEN        |                 2.2
 NICK        | DEGENERES    |                 2.2
 JIM         | MOSTEL       |                 2.6
 JADA        | RYDER        |                 3.1
 BEN         | HARRIS       |                 2.3
 JODIE       | DEGENERES    |                 2.9
 PARKER      | GOLDBERG     |                 2.4
 GRETA       | MALDEN       |                 3.2
 MENA        | TEMPLE       |                   3
 TIM         | HACKMAN      |                 2.3
 GRACE       | MOSTEL       |                   3
 RUSSELL     | CLOSE        |                 1.9
 SPENCER     | DEPP         |                 2.4
 ED          | MANSFIELD    |                 3.2
 TOM         | MCKELLEN     |                 2.5
 JAYNE       | NOLTE        |                 3.4
 WHOOPI      | HURT         |                 3.2
 EWAN        | GOODING      |                 3.3
 BURT        | TEMPLE       |                 2.3
 KARL        | BERRY        |                 3.1
 HUMPHREY    | WILLIS       |                 2.6
 MORGAN      | WILLIAMS     |                 2.7
 GROUCHO     | SINATRA      |                 2.6
 CAMERON     | STREEP       |                 2.4
 GREGORY     | GOODING      |                   3
 LAURA       | BRODY        |                 2.6
 KEVIN       | BLOOM        |                 2.1
 CATE        | HARRIS       |                 2.8
 SALMA       | NOLTE        |                 2.5
 KENNETH     | TORN         |                 3.3
 JULIA       | ZELLWEGER    |                 1.6
 MERYL       | GIBSON       |                 2.8
 ANNE        | CRONYN       |                 2.7
 JULIA       | BARRYMORE    |                 2.4
 GENE        | MCKELLEN     |                 2.7
 LUCILLE     | TRACY        |                   3
 DEBBIE      | AKROYD       |                 2.4
 MILLA       | PECK         |                 2.4
 PENELOPE    | GUINESS      |                 1.9
 ANGELINA    | ASTAIRE      |                 3.1
 GROUCHO     | DUNST        |                 3.5
 DAN         | TORN         |                 2.2
 MICHAEL     | BOLGER       |                   3
 RAY         | JOHANSSON    |                   3
 SUSAN       | DAVIS        |                 2.1
 LISA        | MONROE       |                 2.3
 KIM         | ALLEN        |                 2.8
 FAY         | KILMER       |                   2
 EMILY       | DEE          |                 1.4
 GRETA       | KEITEL       |                 2.7
 DARYL       | CRAWFORD     |                   3
 JULIA       | MCQUEEN      |                 3.3
 RIVER       | DEAN         |                 3.1
 SANDRA      | KILMER       |                 3.7
(200 rows)





 first_name  |  last_name   | percentage_of_films
-------------+--------------+---------------------
 CHRISTIAN   | AKROYD       |                 3.2
 MATTHEW     | JOHANSSON    |                   2
 HUMPHREY    | GARLAND      |                 2.9
 DAN         | STREEP       |                 2.4
 SPENCER     | PECK         |                 2.1
 ADAM        | GRANT        |                 1.8
 RIP         | WINSLET      |                   3
 GARY        | PHOENIX      |                 2.5
 ALBERT      | JOHANSSON    |                 3.3
 RALPH       | CRUZ         |                 2.8
 MICHELLE    | MCCONAUGHEY  |                 2.3
 CARMEN      | HUNT         |                 2.6
 AUDREY      | BAILEY       |                 2.7
 OPRAH       | KILMER       |                 2.5
 ADAM        | HOPPER       |                 2.2
 JAMES       | PITT         |                 3.1
 MENA        | HOPPER       |                 2.4
 JOHN        | SUVARI       |                 2.9
 JON         | CHASE        |                 2.9
 KENNETH     | HOFFMAN      |                 2.9
 KIRSTEN     | AKROYD       |                 3.4
 SUSAN       | DAVIS        |                 3.3
 KENNETH     | PALTROW      |                 2.1
 JEFF        | SILVERSTONE  |                 2.5
 HARRISON    | BALE         |                 2.8
 MORGAN      | MCDORMAND    |                 2.5
 HENRY       | BERRY        |                 3.5
 MEG         | HAWKE        |                 2.7
 RUSSELL     | BACALL       |                 2.5
 WARREN      | NOLTE        |                 3.4
 ELVIS       | MARX         |                 2.6
 FAY         | WOOD         |                 2.2
 DUSTIN      | TAUTOU       |                 2.7
 REESE       | WEST         |                 3.3
 RITA        | REYNOLDS     |                   2
 ANGELA      | HUDSON       |                 3.4
 KEVIN       | GARLAND      |                 3.3
 SCARLETT    | BENING       |                 2.6
 CHRIS       | BRIDGES      |                 2.7
 ALAN        | DREYFUSS     |                 2.7
 RUSSELL     | TEMPLE       |                 3.1
 THORA       | TEMPLE       |                   2
 GARY        | PENN         |                 2.6
 MATTHEW     | LEIGH        |                   3
 NICK        | STALLONE     |                   3
 ZERO        | CAGE         |                 2.5
 TOM         | MIRANDA      |                 2.7
 CUBA        | BIRCH        |                 2.4
 HARVEY      | HOPE         |                 3.2
 LIZA        | BERGMAN      |                 2.5
 RENEE       | TRACY        |                 3.3
 KENNETH     | PESCI        |                   2
 WOODY       | JOLIE        |                 3.1
 ROCK        | DUKAKIS      |                   3
 ALBERT      | NOLTE        |                 3.1
 WARREN      | JACKMAN      |                 3.2
 MORGAN      | HOPKINS      |                 2.7
 JOHNNY      | CAGE         |                 2.9
 MINNIE      | KILMER       |                   2
 KIRK        | JOVOVICH     |                 2.6
 FAY         | WINSLET      |                 3.1
 JOE         | SWANK        |                 2.5
 BELA        | WALKEN       |                   3
 PENELOPE    | MONROE       |                 2.7
 CUBA        | OLIVIER      |                 2.8
 MAE         | HOFFMAN      |                 2.8
 FRANCES     | DAY-LEWIS    |                 2.6
 RIP         | CRAWFORD     |                 3.3
 RENEE       | BALL         |                 3.3
 MINNIE      | ZELLWEGER    |                 3.1
 SEAN        | WILLIAMS     |                 2.6
 DARYL       | WAHLBERG     |                 3.1
 JUDE        | CRUISE       |                   3
 SCARLETT    | DAMON        |                 3.6
 CHRISTIAN   | NEESON       |                 2.5
 BOB         | FAWCETT      |                 2.5
 CHRIS       | DEPP         |                   2
 CARY        | MCCONAUGHEY  |                 2.4
 GROUCHO     | WILLIAMS     |                 2.5
 SANDRA      | PECK         |                 1.9
 KIRSTEN     | PALTROW      |                 2.7
 JANE        | JACKMAN      |                 2.5
 ED          | CHASE        |                 2.2
 MARY        | KEITEL       |                   4
 HELEN       | VOIGHT       |                 3.2
 VAL         | BOLGER       |                 3.5
 WOODY       | HOFFMAN      |                 3.1
 PENELOPE    | CRONYN       |                 3.1
 JOHNNY      | LOLLOBRIGIDA |                 2.9
 OLYMPIA     | PFEIFFER     |                 2.8
 AL          | GARLAND      |                 2.6
 DAN         | HARRIS       |                 2.8
 GEOFFREY    | HESTON       |                 2.6
 CHRISTOPHER | BERRY        |                   2
 MILLA       | KEITEL       |                 2.8
 ED          | GUINESS      |                 2.9
 PENELOPE    | PINKETT      |                 2.5
 ALEC        | WAYNE        |                 2.9
 JENNIFER    | DAVIS        |                 2.2
 LUCILLE     | DEE          |                 2.4
 AUDREY      | OLIVIER      |                 2.5
 MATTHEW     | CARREY       |                 3.9
 GENE        | WILLIS       |                 2.3
 BEN         | WILLIS       |                 3.3
 JESSICA     | BAILEY       |                 2.3
 CAMERON     | WRAY         |                 1.9
 SEAN        | GUINESS      |                 3.3
 CHRISTIAN   | GABLE        |                 2.2
 SIDNEY      | CROWE        |                 3.4
 JUDY        | DEAN         |                 1.5
 MICHAEL     | BENING       |                 2.4
 REESE       | KILMER       |                 3.2
 GINA        | DEGENERES    |                 4.2
 BETTE       | NICHOLSON    |                   2
 GENE        | HOPKINS      |                 2.2
 GREG        | CHAPLIN      |                 2.7
 ANGELA      | WITHERSPOON  |                 3.5
 GOLDIE      | BRODY        |                 2.8
 WILL        | WILSON       |                 3.1
 CHRISTOPHER | WEST         |                 2.1
 ELLEN       | PRESLEY      |                 2.5
 CHARLIZE    | DENCH        |                 2.4
 WILLIAM     | HACKMAN      |                 2.7
 BURT        | DUKAKIS      |                 2.9
 SISSY       | SOBIESKI     |                 1.8
 NATALIE     | HOPKINS      |                 3.2
 WALTER      | TORN         |                 4.1
 LAURENCE    | BULLOCK      |                 2.6
 VIVIEN      | BERGEN       |                   3
 MARY        | TANDY        |                 3.1
 SYLVESTER   | DERN         |                 2.2
 VIVIEN      | BASINGER     |                 3.5
 IAN         | TANDY        |                 3.1
 UMA         | WOOD         |                 3.5
 CUBA        | ALLEN        |                 2.5
 RICHARD     | PENN         |                   3
 JAYNE       | SILVERSTONE  |                 2.7
 CAMERON     | ZELLWEGER    |                 3.3
 NICK        | WAHLBERG     |                 2.5
 FRED        | COSTNER      |                 2.7
 JULIA       | FAWCETT      |                 1.5
 JAYNE       | NEESON       |                 2.9
 JULIANNE    | DENCH        |                 3.2
 BURT        | POSEY        |                 2.4
 CATE        | MCQUEEN      |                   3
 FRANCES     | TOMEI        |                 2.3
 MERYL       | ALLEN        |                 2.2
 NICK        | DEGENERES    |                 2.2
 JIM         | MOSTEL       |                 2.6
 JADA        | RYDER        |                 3.1
 BEN         | HARRIS       |                 2.3
 JODIE       | DEGENERES    |                 2.9
 PARKER      | GOLDBERG     |                 2.4
 GRETA       | MALDEN       |                 3.2
 MENA        | TEMPLE       |                   3
 TIM         | HACKMAN      |                 2.3
 GRACE       | MOSTEL       |                   3
 RUSSELL     | CLOSE        |                 1.9
 SPENCER     | DEPP         |                 2.4
 ED          | MANSFIELD    |                 3.2
 TOM         | MCKELLEN     |                 2.5
 JAYNE       | NOLTE        |                 3.4
 WHOOPI      | HURT         |                 3.2
 EWAN        | GOODING      |                 3.3
 BURT        | TEMPLE       |                 2.3
 KARL        | BERRY        |                 3.1
 HUMPHREY    | WILLIS       |                 2.6
 MORGAN      | WILLIAMS     |                 2.7
 GROUCHO     | SINATRA      |                 2.6
 CAMERON     | STREEP       |                 2.4
 GREGORY     | GOODING      |                   3
 LAURA       | BRODY        |                 2.6
 KEVIN       | BLOOM        |                 2.1
 CATE        | HARRIS       |                 2.8
 SALMA       | NOLTE        |                 2.5
 KENNETH     | TORN         |                 3.3

## Checking the inferenced results

In [8]:

import pandas as pd

file_path = r".\inferenced_results.csv"

# Read CSV with an alternate encoding
inferenced_df = pd.read_csv(file_path, encoding="ISO-8859-1")  # or encoding="latin1"
print(inferenced_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Query Number            40 non-null     int64
 1   Natural Language Query  40 non-null     object
 2   Difficulty              40 non-null     object
 3   Query                   40 non-null     object
 4   SQL_Generated           40 non-null     object
 5   Results                 40 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.0+ KB
None

In [9]:
inferenced_df.head()

,Query Number,Natural Language Query,Difficulty,Query,SQL_Generated,Results
0,1,List all actors' first and last names.,Easy,List all actors' first and last names.,"SELECT first_name, last_name FROM actor;",first_name | last_name \n-------------+--...
1,2,Show the titles of all films in the database.,Easy,Show the titles of all films in the database.,SELECT title FROM film;,title \n---------------...
2,3,Get the names of all cities.,Easy,Get the names of all cities.,SELECT city FROM city;,city \n----------------...
3,4,List all categories available for films.,Easy,List all categories available for films.,SELECT name FROM category;,name \n-------------\n Action\n Animat...
4,5,Show the first name and last name of all custo...,Easy,Show the first name and last name of all custo...,"SELECT first_name, last_name FROM customer;",first_name | last_name \n-------------+--...

## Checking the inferenced results with `0 rows` output

In [10]:
check = inferenced_df.loc[28,"Results"]

print(check)

 customer_id | store_id | first_name | last_name | email | address_id | activebool | create_date | last_update | active
-------------+----------+------------+-----------+-------+------------+------------+-------------+-------------+--------
(0 rows)

In [12]:
filtered_df = inferenced_df[inferenced_df["Results"].str.contains(r"\(0 rows\)", regex=True, na=False)]
filtered_df

,Query Number,Natural Language Query,Difficulty,Query,SQL_Generated,Results
6,7,"Find all actors with the last name ""Smith.""",Easy,"Find all actors with the last name ""Smith.""","SELECT actor_id, first_name, last_name\nFROM a...",actor_id | first_name | last_name \n---------...
7,8,List all customers who are from the city of Â...,Easy,List all customers who are from the city of Â...,"SELECT\n C.first_name,\n C.last_name\nFROM C...",first_name | last_name \n------------+-------...
16,17,"Show all actors who appeared in the film ""Ince...",Medium,"Show all actors who appeared in the film ""Ince...","SELECT A.first_name, A.last_name\nFROM actor A...",first_name | last_name \n------------+-------...
19,20,"Find all films rented by customer ""John Doe.""",Medium,"Find all films rented by customer ""John Doe.""",SELECT F.title\nFROM film AS F\nJOIN inventory...,title \n-------\n(0 rows)\n\n
25,26,Show all rentals made in the last 7 days.,Medium,Show all rentals made in the last 7 days.,SELECT *\nFROM rental\nWHERE rental_date >= NO...,rental_id | rental_date | inventory_id | cust...
28,29,Find all customers who registered in the last ...,Medium,Find all customers who registered in the last ...,SELECT * FROM customer WHERE create_date >= DA...,customer_id | store_id | first_name | last_na...
31,32,Find the films that have been rented more time...,Hard,Find the films that have been rented more time...,SELECT film_id\nFROM inventory\nGROUP BY film_...,film_id \n---------\n(0 rows)\n\n
35,36,Find customers who have rented more films this...,Hard,Find customers who have rented more films this...,"SELECT c.first_name, c.last_name\nFROM custome...",first_name | last_name \n------------+-------...
37,38,"For each customer, show the number of films re...",Hard,"For each customer, show the number of films re...",WITH MonthlyRentals AS (\n SELECT\n ...,customer_id | rental_month | rental_count | p...
38,39,Show the names of customers who have rented ev...,Hard,Show the names of customers who have rented ev...,"SELECT c.first_name, c.last_name\nFROM custome...",first_name | last_name \n------------+-------...
39,40,List customers who have rented the same film m...,Hard,List customers who have rented the same film m...,"SELECT c.first_name, c.last_name, f.title, COU...",first_name | last_name | title | rental_count...

In [13]:
idx=7

query = filtered_df.iloc[idx]["Query"]
sql_query = filtered_df.iloc[idx]["SQL_Generated"]
print("Query:", query)
print("SQL:", sql_query, "\n\n\n")


result = execute_query(sql_query.replace("\n", " "))
print(result)

Query: Find customers who have rented more films this year than last year.
SQL: SELECT c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE EXTRACT(YEAR FROM r.rental_date) = EXTRACT(YEAR FROM CURRENT_DATE)
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT r.rental_id) > (
    SELECT COUNT(DISTINCT r2.rental_id)
    FROM rental r2
    WHERE r2.customer_id = c.customer_id
      AND EXTRACT(YEAR FROM r2.rental_date) = EXTRACT(YEAR FROM CURRENT_DATE) - 1
);



 first_name | last_name
------------+-----------
(0 rows)